<header class="masthead text-center text-white">
    <div class="masthead-content">
        <div class="container px-5">
            <h1 class="masthead-heading mb-0">La web de <strong>Rick and Morty</strong></h1>
            <h2 class="masthead-subheading mb-0">Front End desarrollado by Cartes</h2>
            <a class="btn btn-primary btn-xl rounded-pill mt-5" routerLink="/characters/list">Ver a los personajes</a>
        </div>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
</header>

  <div class="container">
    <div class="row">
      <div class="col col-md-12">
        <h2 class="text-secondary text-center my-4">Algunos personajes para que conozcas</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 py-4" *ngFor="let character of characters">
        <app-component-card [character]="character"></app-component-card>
      </div>
    </div>
  </div>
